{#
/**
 * @file
 * Release Branch's theme implementation to display the front page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library('uikitty/slider') }}
{{ attach_library('uikitty/slidenav') }}

{% include directory ~ '/templates/includes/header.html.twig' %}
<div class="rb-content-back">
    <div class="uk-container uk-container-center">
    	<div class="uk-width-medium-3-4 uk-width-large-1-2 uk-container-center uk-text-center">
    	
    	{% if page.highlighted %}

            {{ page.highlighted }}

{% endif %} 


    	{{ page.front }}
		</div>
    </div>
</div>
<div class="rb-content-back2">
 <div class="uk-container uk-container-center">
 	{{ page.family }}
 </div>
 <div class="uk-container uk-container-center">
    	{{ page.components }}
</div>
</div>
{{ page.featuresblock }}
{{ page.contribute }}
<div class="footwrap uk-back-black">
    <div class="uk-container uk-container-center uk-margin-large-top">
        <div class="uk-grid uk-dark uk-contrast uk-margin-large-top uk-margin-large-bottom">
            {% if page.footer %} {{ page.footer }} {% endif %}
        </div>
    </div>
</div>


{% include directory ~ '/templates/includes/offcanvas.html.twig' %}
