
/* header css */

#header .uk-navbar-brand, #header .uk-navbar-content, #header .uk-navbar-toggle {
    height:100px;
}
#header .uk-navbar-brand {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold;	
}
h1, h2, h3, h4 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.uk-link, a, .uk-nav-side ul a {
    color:#aaa;
}
.uk-nav-side ul a:hover {
	color:#333;
}
em {
	color:#222;
}
:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
	color:#cc0000;
}
.uk-contrast .uk-nav-side > li > a:focus, .uk-contrast .uk-nav-side > li > a:hover {
	background: #1E2428;
	color:#ccc;
}

.hljs-keyword, .hljs-function, .hljs-change, .hljs-winutils, .hljs-flow, .lisp .hljs-title, .clojure .hljs-built_in, .nginx .hljs-title, .tex .hljs-special, .hljs-header, .hljs-attribute, .hljs-symbol, .hljs-symbol .hljs-string, .hljs-tag .hljs-title, .hljs-value, .alias .hljs-keyword:first-child, .css .hljs-tag, .css .unit, .css .hljs-important {
	color:#ddd;
}
#header .uk-navbar-nav li a {
    line-height: 100px;
}
.uk-navbar-nav > li > a {
    height:100px;
}

.uk-breadcrumb {
	background:url(../img/breadbg.png) top left no-repeat;
}
.rb-sidenav .sidebar .block-search {
	margin-top:15px;
}
/* Frontpage css */



.rb-sidenav {
	border-left:1px solid #f5f5f5;
}

a.rb-button-main {
	background:#333;
	padding:15px 40px;
	color:white;
	margin:0;
	display:inline-block;
	border-radius:4px;
}
a.rb-button-main:hover {
	background: #222;
	box-shadow:0 0 5px rgba(57,128,179,0.4), 0 0 10px rgba(255,255,255,0.3);
	text-decoration: none;
}

.node__meta {
	margin-bottom:10px;
}

.uk-dark .uk-panel {
	background: #292f33;
}
.uk-dark .uk-panel li a {
	font-size:13px;
	border-bottom:1px solid #222;
}

@media only screen and (max-width: 479px) {  
  
}
@media only screen and (max-width: 767px) {  

}

@media only screen and (min-device-width : 768px)  {
.rb-content-back {
	background:url(../img/blucubebg.jpg) top center #38a8d6;
	background-size:cover;
}
/*-- Node Meta --*/
.node__meta {
	float:right;
	margin-left:10px;
	margin-bottom:10px;
}

}

@media only screen and (min-device-width : 960px) and (max-device-width : 1199px) {

}
@media only screen and (min-device-width : 1200px){

}

.node__meta span {
	font-style:italic;
	font-size:12px;
	border-top:1px solid #e5e5e5;
	padding-top:5px;
	margin-top:5px;
}

.rb-content-back {
	padding:100px 0;
}

/*
 * Style grid for showcase purpose
 */

.tm-grid-truncate code {
    /* Truncate */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Nedded */
    max-width: 80%;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.tm-icons > [class*="uk-width-"] {
    padding-bottom: 5px;
    padding-top: 5px;
}

/*
 * Generate different grid panel colors
 */

.tm-grid-colors > * > * { padding: 20px; }

.tm-grid-colors > :nth-child(8n-7) > * { background: rgba(130,200,240,0.1); }
.tm-grid-colors > :nth-child(8n-6) > * { background: rgba(130,200,240,0.15); }
.tm-grid-colors > :nth-child(8n-5) > * { background: rgba(130,200,240,0.2); }
.tm-grid-colors > :nth-child(8n-4) > * { background: rgba(130,200,240,0.25); }
.tm-grid-colors > :nth-child(8n-3) > * { background: rgba(130,200,240,0.3); }
.tm-grid-colors > :nth-child(8n-2) > * { background: rgba(130,200,240,0.35); }
.tm-grid-colors > :nth-child(8n-1) > * { background: rgba(130,200,240,0.40); }
.tm-grid-colors > :nth-child(8n) > * { background: rgba(130,200,240,0.45); }

/*
 * Generate different grid panel heights
 */

.tm-grid-heights > :nth-child(8n-7) > * { height: 80px; }
.tm-grid-heights > :nth-child(8n-6) > * { height: 100px; }
.tm-grid-heights > :nth-child(8n-5) > * { height: 160px; }
.tm-grid-heights > :nth-child(8n-4) > * { height: 120px; }
.tm-grid-heights > :nth-child(8n-3) > * { height: 180px; }
.tm-grid-heights > :nth-child(8n-2) > * { height: 130px; }
.tm-grid-heights > :nth-child(8n-1) > * { height: 150px; }
.tm-grid-heights > :nth-child(8n) > * { height: 110px; }

/*
 * Add a fixed height to grid items
 */

.tm-grid-height-250 > * > * { height: 250px; }

.tm-section-color-2 {
    background: #3dc0f1 none repeat scroll 0 0;
}

.tm-section-colored,
.tm-section-colored h1,
.tm-section-colored h2,
.tm-section-colored a:not([class]) { color: #fff !important; }

.tm-section-color-2 a { text-decoration: underline; }

.tm-section-color-white { background: #fff; }

.tm-middle, .tm-section, .tm-footer {
    padding: 120px 0;
}

.tm-button-download {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #2ba3d4 !important;
    font-size: 18px;
    line-height: 50px;
    margin: -30px 0 15px;
    min-height: 50px;
    padding: 0 30px;
}
.tm-button-download:hover {
    background: #82cff0 none repeat scroll 0 0;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.15s ease-in-out 0s;
}
.tm-button-download:focus, .tm-button-download:active {
    background: #2e93bc none repeat scroll 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset, 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.05s ease-in-out 0s;
}
.tm-image-pull {
    margin-bottom: -10px;
}
.tm-margin-large-bottom {
    margin-bottom: 80px;
}
.tm-panel-link, .tm-panel-link:hover {
    color: #444;
    text-decoration: none;
}
.tm-panel-link {
    border: 1px solid #e5e5e5;
    padding: 30px 30px 60px;
}
.tm-panel-link::after {
    background: #0ba1d8 none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    display: none;
    height: 5px;
    left: -1px;
    position: absolute;
    right: -1px;
}
.tm-panel-link:hover::after {
    display: block;
}
.tm-panel-link:hover h2 {
    color: #0ba1d8;
}
.tm-grid-margin-large .uk-grid-margin {
    margin-top: 50px;
}
.tm-icon {
    background: #0ba1d8 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    line-height: 80px;
    margin: -60px auto 0;
    position: relative;
    width: 80px;
}
.tm-icon::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #0ba1d8 transparent -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 10px 10px medium;
    bottom: -10px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}
.tm-panel-link {
    backface-visibility: hidden;
}
.tm-panel-link:hover .tm-icon {
    transform: translateY(5px);
    transition: all 0.1s ease-out 0s;
}

.rb-content-back2 .uk-slidenav-position {
	background:white;
}
.rb-content-back2 .uk-overlay-background {
	background:rgba(255,255,255,9);
	color:#333;
	font-size:13px;
}
.rb-content-back2 .uk-overlay-panel h2 a {
	color:#46B6E7;
	text-decoration:none;
	font-weight:bold;
}
.rb-content-back2 .uk-overlay-panel:hover h2 a {
	color:#fff;
}

.uk-overlay-background:hover {
    background-color:rgba(57,128,179,0.5);
}
.rb-core-components .uk-overlay-background {
    background:none rgba(154,180,222,0.8);

}
.rb-core-components .uk-overlay-background:hover {
    background-color:rgba(0,0,0,0.5);
}
.rb-core-components .uk-nav-side li a {
	border-bottom:1px solid rgba(57,128,179,0.3);
}
.rb-core-components .uk-nav-side li a:hover {
	text-shadow:none;
	background:rgba(255,255,255,1);
	color:rgba(57,128,179,0.9);
}
.rb-content-back2 {
	background:linear-gradient(#3DC0F1, #ffffff);
	padding:120px 0;
}
.rb-core-components > .uk-nav > li > a {
    position: relative;
    margin-bottom:0;
}
 
.rb-core-panel {
    border:1px solid #eaeaea;
}
.rb-core-panel:hover {
    border:1px solid #aaa;
    background:url(../img/component-grad.png) top center rgba(255,255,255,0.5);
    background-size:cover;
    border:1px solid #3DC0F1;
}
.rb-core-panel a {
    color:#5ccaf3;
}
.rb-core-panel:hover h2 a {
    color:#fff;
}
.rb-core-panel .uk-article-lead {
    font-size:14px;
}
.rb-core-panel .links.inline {
    display:inline-block;
}
.rb-core-components > .uk-nav > li > a:before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #888;
    font-size: 14px;
    padding-right: 0.5em;
    position: absolute;
    top: 6px;
    right: 1px;
}
#block-front a {
    color:white;
}

