
<div id="header">
    <div class="uk-container uk-container-center">
        <nav class="uk-navbar">
            <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
            <a href="/" class="uk-navbar-brand"><img src="/themes/release_branch/img/kitty-logo-white.png" /></a>
            {{ page.header }}
            {{ page.mainmenu }}
            <div class="uk-navbar-flip">
              {{ page.toprightmenu }}
            </div>
        </nav>


    </div>
</div>

