    <div class="uk-width-medium-1-2 uk-width-large-1-4">  
       <div class="rb-sidenav"> 
        <div class="uk-panel uk-margin-top">
        {% if page.sidebar_first %}
          <div id="sidebar-first" class="column sidebar uk-nav-side">
            <aside class="section" role="complementary">
              {{ page.sidebar_first }}
            </aside>
          </div>
        {% endif %}
        {% if page.sidebar_second %}
          <div id="sidebar-second" class="column sidebar uk-nav-side">
            <aside class="section" role="complementary">
              {{ page.sidebar_second }}
            </aside>
          </div>
        {% endif %}
           </div>
        </div>
    </div>
   {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="layout-container clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}
